/* general rules  CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}


/* _____________________________ */
/* HEADER */

.navbar {
   height: 50px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   position: fixed;
   z-index: 1000;
 /* DEBUG */
background-color: cadetblue;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
/* DEBUG */
background-color: lavender;
}

/* DEBUG */
.navbar-left {
    background-color: lightcoral;
}

/* DEBUG */
.navbar-right {
    background-color: lightskyblue;
}

/* _____________________________ */
/* MAIN */


/* jumbotron */
.jumbotron {
    height: 500px;
    width: 100%;
    background-color: #b4d0e7;
}

/* CONTENITORE MAIN CON DENTRO TUTTE LE SEZIONI */
.main-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    /* DEBUG */
    background-color: bisque;
    height: 4000px;
}

/* CONTENITORE PIANI BUSINESS */
.business-plan-container {
    margin: 0 auto;
    /* debug */
    background-color: rgb(251, 161, 206);
    height: 1000px;
}

/* titolo piani */
.container-titolo-piano-business {
    margin: 0 auto;
    /* debug */
    background-color: rgb(120, 57, 164);
    height: 80px;
}

.container-checkbox-e-txt-fatturazione {
    margin: 0 auto;
    /* debug */
    background-color: rgb(251, 177, 73);
    height: 30px;
}

    /* contenitore piani in colonne (Professional, Advanced, Enterprise-Azienda */
.container-1-business-plan {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* debug */
    background-color: rgb(174, 224, 174);
    height: 500px;
}

.col-business-plan {
    width: calc(100% / 3);
    /* debug */
    height: 400px;
    background-color: rgb(182, 182, 182);
}

    /* contenitore piano singolo (Enterprise-Team) */
.container-2-business-plan {
    margin: 0 auto;
    /* debug */
    background-color: rgb(2, 2, 143);
    height: 200px;
}

.box-business-plan-singolo {
    width: 100%;
    /* debug */
    height: 150px;
    background-color: rgb(182, 182, 182);
}

 /* CONTENITORE SEZIONE PARTNER */


 /* box per immagine a sinistra e testo a destra */
 .box-img-e-txt {
     margin: 0 auto;
     display: flex;
     justify-content: center;
    /* debug */
    background-color: rgb(255, 177, 81);
    height: 250px;
 }

 #box-img {
    width: 50%;
    /* debug */
    background-color: rgb(168, 255, 168);
    height: 250px;
 }

 #box-txt {
    width: 50%;
    /* debug */
    background-color: rgb(88, 222, 255);
    height: 250px;
 }

/* DROPBOX OPERATIONS (griglia a 6 celle) */
.d-operations-container {
     margin: 0 auto;
    /* debug */
    background-color: rgb(49, 95, 44);
    height: 1000px;
}

/* container-titolo-griglia */
.container-titolo-griglia {
    margin: 0 auto;
    /* debug */
    background-color: rgb(91, 164, 233);
    height: 80px;
}

/* <!-- griglia --> */
.container-griglia {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* debug */
    background-color: rgb(157, 0, 0);
    height: 500px;
 }

 /* 6 celle */
 .col-d-operations {
    width: calc(100% / 3);
    /* debug */
    height: 200px;
    background-color: rgb(210, 210, 210);
    border: 1px solid black;
}

/* _____________________________ */
/* FOOTER */