/* general rules  CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* _____________________________ */
/* HEADER */

.navbar {
   height: 50px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   position: fixed;
   z-index: 1000;
 /* DEBUG */
background-color: cadetblue;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
/* DEBUG */
background-color: lavender;
}

/* DEBUG */
.navbar-left {
    background-color: lightcoral;
}

/* DEBUG */
.navbar-right {
    background-color: lightskyblue;
}

/* _____________________________ */
/* MAIN */

.jumbotron {
    height: 500px;
    width: 100%;
    background-color: #b4d0e7;
}

.main-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    /* DEBUG */
    background-color: bisque;
    height: 1000px;
}

.business-plan-container {
    margin: 0 auto;
    /* debug */
    background-color: rgb(251, 161, 206);
    height: 700px;
}

.container-1-business-plan {
    margin: 0 auto;
    /* debug */
    background-color: rgb(174, 224, 174);
    height: 500px;
}

.container-2-business-plan {
    margin: 0 auto;
    /* debug */
    background-color: rgb(2, 2, 143);
    height: 200px;
}
/* _____________________________ */
/* FOOTER */