/* general rules  CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body {
  
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* _____________________________ */
/* HEADER */

.navbar {
   height: 50px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   position: fixed;
   z-index: 1000;
 /* DEBUG */
background-color: cadetblue;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
/* DEBUG */
background-color: lavender;
}

/* DEBUG */
.navbar-left {
    background-color: lightcoral;
}

/* DEBUG */
.navbar-right {
    background-color: lightskyblue;
}

/* _____________________________ */
/* MAIN */


/* jumbotron */
.container-jumbotron {
    /* height: 700px; */
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 60px;
}

 /* container "stretto" per jumbotron*/
.cont-elementi-jumbo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* debug */
    /* background-color: green; */
    /* height: 500px; */
}

/* sez titolo */
.container-titolo-princ {
    /* debug */
    width: 70%;
    margin: 0 auto;
    /* height: 50px; */
    /* background-color: red; */
    
}

h1 {
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 40px;
}

/* spazio a sinistra del jumbo (contenitore testo e pulsante) */
.jumbo-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* debug */
    /* background-color: violet; */
}

/* testo a sx */
.jumbo-txt-container {
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 40px;
    /* debug */
    /* background-color: pink; */
    /* height: 90px; */
}

/* bottone */
.button {
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    background-color: #0062fe;
    color: white;
    font-size: 13px;
    display: block;
}

.annulla {
    margin-top: 30px;
    font-size: 15px;
}

.fa-arrow-down {
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 10px;
}
/* img */
.jumbo-img-container {
    width: 70%;
    /* debug */
    /* background-color: blue; */
    /* height: 90px; */
}

.jumbo-img-container img {
    width: 100%;
    display: block;
    
}



/* CONTENITORE MAIN CON DENTRO TUTTE LE SEZIONI */
.main-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 200px;
    /* DEBUG */
    background-color: bisque;
    /* height: 4000px; */
}

/* CONTENITORE PIANI BUSINESS */
.business-plan-container {
    /* debug */
    background-color: rgb(251, 161, 206);
    height: 1000px;
}

/* titolo piani */
.container-titolo-piano-business {
    /* debug */
    background-color: rgb(120, 57, 164);
    height: 80px;
}

.container-checkbox-e-txt-fatturazione {
    /* debug */
    background-color: rgb(251, 177, 73);
    height: 30px;
}

    /* contenitore piani in colonne (Professional, Advanced, Enterprise-Azienda */
.container-1-business-plan {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* debug */
    background-color: rgb(174, 224, 174);
    /* height: 500px; */
}

.col-business-plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d0d0d0;
    padding: 0 20px;
    /* debug */
    /* height: 400px; */
    
}

/* vari dettagli piano */
.singolo-team-azienda {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
}

.info-piano {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 12px;
    line-height: 1.4;
}

li i {
    margin-right: 8px;
}

.icona {
    display: flex;
    align-items: flex-start;
}

.fa-solid {
    padding-top: 2px;
}


.fa-check {
    color: #0062fe;
}

.acquista {
    margin: 20px 0;
}

hr {
    width: 15%;
    color: #d0d0d0;
}
.punti-salienti {
    margin: 20px 0;
}


    /* contenitore piano singolo (Enterprise-Team) */
.container-2-business-plan {
    /* debug */
    background-color: rgb(2, 2, 143);
    height: 200px;
}

.box-business-plan-singolo {
    width: 100%;
    /* debug */
    height: 150px;
    background-color: rgb(180, 142, 142);
}

 /* CONTENITORE SEZIONE PARTNER */
 /* box per immagine a sinistra e testo a destra */
 .box-img-e-txt {
     display: flex;
     justify-content: center;
    /* debug */
    /* background-color: rgb(255, 177, 81); */
    /* height: 250px; */
 }

 #box-img {
    width: 60%;
    /* debug */
    /* background-color: rgb(168, 255, 168); */
    /* height: 250px; */
 }

 #box-img img {
    width: 100%;
    display: block;
 }

 #box-txt {
    width: 40%;
    /* debug */
    /* background-color: rgb(88, 222, 255); */
    height: 250px;
 }

/* DROPBOX OPERATIONS (griglia a 6 celle) */
.d-operations-container {
    /* debug */
    background-color: rgb(49, 95, 44);
    height: 500px;
}

/* container-titolo-griglia */
.container-titolo-griglia {
    /* debug */
    background-color: rgb(91, 164, 233);
    height: 80px;
}

/* <!-- griglia --> */
.container-griglia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* debug */
    background-color: rgb(157, 0, 0);
    height: 500px;
 }

 /* 6 celle */
 .col-d-operations {
    width: calc(100% / 3);
    /* debug */
    height: 200px;
    background-color: rgb(210, 210, 210);
    border: 1px solid black;
}

/* UTILIZZATORI DROPBOX */
.container-users-and-link {
   padding-top: 100px;
    /* debug */
    /* background-color: rgb(237, 197, 204); */
    height: 300px;
}

/* frase-utilizzatori */
.box-frase-utilizzatori {
    width: 65%;
    /* debug */
    /* background-color: rgb(156, 41, 206); */
    height: 90px;
}

/* link "scopri di più" */
.container-link-scopri-di-più {
    width: 35%;
    /* debug */
    /* background-color: rgb(140, 123, 148);
    height: 70px; */
}

#scopri {
    font-size: 12px;
}
/* _____________________________ */
/* FOOTER */

/* FOOTER CONTAINER */
.black-cont {
    width: 100%;
    background-color: black;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    /* debug */
    /* background-color: rgb(220, 131, 14); */
    /* height: 1000px; */
    color: white;
}


/* container info (dropbox, prodotti, azienda, supporto, community) */
.container-info-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    /* debug */
    /* background-color: lightblue; */
    /* height: 500px; */
}

/* colonne */
.col-footer {
    width: 100%;
     /* debug */
    /* height: 200px; */
    /* background-color: rgb(0, 23, 76);
    border: 1px solid rgb(255, 56, 218);     */
}

footer h3 {
    padding-bottom: 20px;
}

.lista-footer {
    list-style: none;
}

.lista-footer li a {
    color: white;
    text-decoration: none;
    line-height: 2;
}

/* inserimento lingua (italiano) */
.box-lingua {
    width: 20%;
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 20px;
    /* debug */
    /* background-color: rgb(220, 185, 191); */
    height: 50px;
}